<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/assets/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="/assets/reveal.js/css/theme/{% if page.theme %}{{ page.theme }}{% else %}white{% endif %}.css" id="theme">
    <link rel="stylesheet" href="/assets/reveal.js/lib/css/zenburn.css">
  </head>
  <body>
    <div class="reveal">{{ content }}</div>
    <script src="/assets/reveal.js/lib/js/head.min.js"></script>
    <script src="/assets/reveal.js/js/reveal.min.js"></script>
    <script>
      var reveal_config = {{ page.reveal_config | jsonify }} || {};
      reveal_config.dependencies = [
        { src: 'plugin/markdown/marked.js' },
        { src: 'plugin/markdown/markdown.js' },
        { src: 'plugin/notes/notes.js', async: true },
        { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ];
      Reveal.initialize(reveal_config);
    </script>
  </body>
</html>
